@model IEnumerable<Model.DailyBillingDTO>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DailyBillingIndex</title>
</head>
<body>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.Serial);
            </th>
            <th>
                @Html.DisplayNameFor(x => x.BillDate);
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Amount);
            </th>
            <th>
                @Html.DisplayNameFor(x => x.BillType);
            </th>
            <th>
                @Html.DisplayNameFor(x => x.BillTags);
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Remark);
            </th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>
                    @x.Serial;
                </td>
                <td>
                    @Html.Display(x.BillDate.HasValue ? x.BillDate.Value.ToShortDateString():"");
                </td>
                <td>
                    @x.Amount;
                </td>
                <td>
                    @x.BillType;
                </td>
                <td>
                    @{
                        if(x.BillTags != null)
                        {
                            foreach (var y in x.BillTags)
                            {
                                Html.Display(y.BillTagName + " , ");
                            }
                        }
                    }
                </td>
                <td>
                    @x.Remark;
                </td>
                <td>
                    @Html.ActionLink("Detail", "Details", new { id = x.Serial })
                </td>
            </tr>
        }
    </table>
    @Html.ActionLink("Create", "Create");
</body>
</html>
